#overlay {
	/* Sit on top of the page content */
	position: fixed;
	/* Hidden by default */
	display: none;
	/* Full width (cover the whole page) */
	width: 100%;
	/* Full height (cover the whole page) */
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* Black background with opacity 
	background-color: rgba(0, 0, 0, 0.5); */
	/* White background with opacity */
	background-color: rgb(255 255 255 / 70%);
	/* Specify a stack order in case you're using a different order for other elements */
	z-index: 2;
	/* Add a pointer on hover */
	cursor: pointer;
}

/* Loading animation */
#overlay {
	text-align: center;
	padding-top: 45vh;
}

#overlay>i {
	color: #555;
}

#overlay>i.is-loaded {
	display: none;
}